<!doctype html>
<html ng-app>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="text/html">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">  
    <meta name="robots" content="all,follow">
    <title>Arete Human Resources</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link href="../../css/ionic.min.css" rel="stylesheet"/>
    <link href="../../css/style.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand header-title">Arete Human Resources</a>
        </div>
      </div>
    </nav>
    
    <div class="container centralize">
        <div class="row">
            <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                <input type="file" id="myResume" accept=".txt,.doc,.docx,.pdf,.jpg">
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <input type="text" ng-model="fileName" placeholder="Your name here">
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <h4>{{fileName}}</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                <input type="file" id="myCover" accept=".txt,.doc,.docx,.pdf,.jpg">
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <input type="text" ng-model="fileDesc" placeholder="Explanations">
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <h5>{{fileDesc}}</h5>
            </div>
        </div>
        <hr>
        <button type="submit" class="button button-outline button-positive" id="submitBTN" onclick="" style="float:right">Submit</button>
        <div id="displayResume"></div>
    </div>
    
    <script src="build/docxgen.js"></script>
    <script src="vendor/FileSaver.min.js"></script>
    <script src="vendor/jszip-utils.js"></script>
    <script>
        var loadFile=function(url,callback){
            JSZipUtils.getBinaryContent(url,callback);
        }
        loadFile("examples/tagExample.docx",function(err,content){
            var doc=new Docxgen(content);
            text=doc.getFullText();
            console.log(text);
        });
    </script>

    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="../../js/ionic.min.js" type="text/javascript"></script>
    <script src="../../js/ionic.bundle.min.js" type="text/javascript"></script>
    <script src="../../js/ionic-angular.min.js" type="text/javascript"></script>
    <script src="src/pdf.js" type="text/javascript"></script>
    <script src="src/pdf.worker.js" type="text/javascript"></script>
    <script src="src/shared/global.js" type="text/javascript"></script>
    <script src="src/display/dom_utils.js" type="text/javascript"></script>
    <script src="src/shared/util.js" type="text/javascript"></script>
    <script src="src/display/annotation_layer.js" type="text/javascript"></script>
    <script src="src/display/font_loader.js" type="text/javascript"></script>
    <script src="src/display/metadata.js" type="text/javascript"></script>
    <script src="src/display/text_layer.js" type="text/javascript"></script>
    <script src="src/display/webgl.js" type="text/javascript"></script>
    <script src="src/display/pattern_helper.js" type="text/javascript"></script>
    <script src="src/display/canvas.js" type="text/javascript"></script>
    <script src="src/display/api.js" type="text/javascript"></script>
    <script>PDFJS.workerSrc = "src/worker_loader.js"</script>
    <script src="main.js" type="text/javascript"></script>
</body>
</html>