/* Alphabetically Ordered */

html,
body {
    height: 100%;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

 .buttons {
    padding: 25px !important;
}

.centralize {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 100em;
    text-align: center;
}

.content {
    flex: 1 0 auto;
    padding: 100px;
}

.form-group {
    padding: 15px;
}

h2 {
    padding: 40px;
}

.navbar-header {
    width: 100%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
}

.ngReady {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.site-logo {
    float: none !important;
    color: #FFF !important;
    text-align: center;
    width: 100%;
}
