table {
    width: 100% !important;
    border-collapse: collapse;
    border: 1px solid #ddd;
    font-weight: 500;
}

td,
th {
    padding: 5px;
    border: 1px solid #ddd;
}

td[id^="id"] {
    background-color: greenyellow;
}

.centralize {
    text-align: center;
}

.default {
    background-color: greenyellow;
}

.header {
    text-align: left;
}
