.arrows {
    margin-top: 135px;
}

.body {
    font-family: 'Roboto';
    color: #333;
    font-size: 1.1em;
    padding-top: 70px;
}

.borders {
    border-style: solid;
    border-width: 1px;
}

.cikis {
    color: white !important;
    float: right !important;
}

.copyrights {
    float: left;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
}

.days {
    width: 125px;
}

.details {
    background: #f0f0f0;
    padding: 20px;
    margin-bottom: 5px;
}

.glyphicon-menu-hamburger {
    color: white;
    font-size: 25px;
    float: left;
    margin-left: 10px;
}

.fix-it {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.header-title {
    float: none !important;
    color: #FFF !important;
    text-align: center;
    width: 100%;
}

.navbar-header {
    width: 100%;
    text-align: center;
    font-weight: 500;
    padding-top: 25px;
    padding-bottom: 25px;
}

.sections {
    padding-top: 35px;
}

.sideFix {
    height: 115px;
    text-align: center;
}

.summary {
    cursor: pointer;
    font-weight: bold;
    font-size: 1.1em;
}
