body {
    background: #0DFE98;
    font-family: "Helvetica Neue"
}
.bg {
    background-color: #FFF;
    margin-top: 20px;
    padding-bottom: 35px;
    -webkit-border-radius: 35px;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius: 35px;
    border-radius: 35px;
    border-top-left-radius: 0;
}
.intro_p {
    text-indent: 30px;
    text-align: justify;
}
.giris {
    float: right;
    width: 150px;
    background: #D332FF;
    color: #FFF;
    font-family: 'Rock Salt', cursive;
}
.footer {
    position: absolute;
    bottom: 0px;
    float: left
}
.page-header {
    width: 500px;
}
.kayitol {
    float: right;
    margin-top: 0px;
    width: 150px;
    background: #D332FF;
    color: #FFF;
    hover: #FFF;
    font-family: 'Rock Salt', cursive;
}
.page-header h1 {
    color: #D332FF;
    font-size: 29px;
    font-family: 'Rock Salt', cursive;
}
.page-header2 h1 {
    color: #D332FF;
    font-size: 29px;
    font-family: 'Rock Salt', cursiv;
}
.formcuk {
    margin-top: 60px;
}
.form-control {
    line-height: 30px
}
.b {
    font-family: 'Rock Salt', cursive;
}
.sp2 .page-header2 {
    margin: 20px 0px 0px 20px;
    padding: 0px;
}
.navbar-form {
    padding-right: 0px;
}
.container {
    width: 960px;
    margin: 0 auto;
}
#gonderBTN {
    margin: 0 auto;
    display: block;
    background-color: #D332FF;
    !important
}
.modal-dialog {
    width: 500px;
}